<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>vue购物车</title>
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css"; rel="stylesheet">
    <!-- <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script> -->
    <!-- <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->
    <script type="text/javascript" src="js/vue.js"></script>
</head>
<style>
.items{
    margin: 100px;
}
.glyphicon{
}
.glyphicon-minus{}
.glyphicon-plus{}
.num{
    min-width: 40px;
    width:40px;
    text-align: center;
}
.add{
    width: 25px;
    height: 25px;
    border: 1px solid #00a0dc;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    line-height: 23px;
    background: #00a0dc;
    color:#fff;
}
.reduce{
    width: 25px;
    height: 25px;
    border: 1px solid #00a0dc;
    border-radius: 50%;
    text-align: center;
    font-size: 12px;
    display: inline-block;
    line-height: 23px;
}
a:active{
    color:#333;
}
th {
    text-align: center;
}
td{
    vertical-align: middle !important;
    position: relative !important;
}
.oneBox{
     position: relative;
}
.goodsBox{
    text-align: left;
    padding-top: 32px;
}
.goodsBox-left{
    float: left;
    margin-right: 20px;
}
.img-goods{}
.goodsBox-right{
    float: left;
}
.freeGoods{}
.s1{
    float: left;
}
.s2{
    float: left;
    color:#888;
}
.goodsName{
    margin-bottom: 15px;
}
ul,li{
    text-decoration:none;
    list-style: none;
}
.active{
    color:#00a0dc !important;
}
.glyphicon-ok-sign{
    color:#636363;
}
a{
    color:#333;
}
    .show{
        display: block;
    }
</style>
<body>
<div class="container table-responsive" style="margin-top:20px" id="box">
    <table class="table text-center">
        <caption style="margin-bottom:20px;">购物车模块</caption>
        <thead style="background: #636363;color:#fff;border:0">
            <tr>
                <th width="40px"></th>
                <th>商品名称</th>
                <th>商品金额</th>
                <th>商品数量</th>
                <th>总金额</th>
                <th>编辑</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in productList">
                <td height="120px">
                    <a href="javascript:">
                        <span class="glyphicon glyphicon-ok-sign" v-bind:class="{active:item.checked}" @click="selectFun(item)"></span>
                    </a>
                </td>
                <td>
                    <div class="goodsBox">
                    <div class="goodsBox-left">
                       <img v-bind:src=item.goodsImg alt="" width="55px" height="55px" class="img-goods">
                    </div>
                    <div class="goodsBox-right">
                        <p class="goodsName">{{item.goodsName}}</p>
                        <div class="freeGoods">
                            <span class="s1">赠送</span>
                            <ul class="s2">
                                <li v-for="item2 in productList.freeGoods">{{item2}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                </td>
                <td >￥{{item.productPrice}}</td>
                <td class="oneBox">
                    <div class="one">
                        <a href="javascript:" class="reduce" @click="add(item,-1)">
                            <span class="glyphicon glyphicon-minus"></span>
                        </a>
                        <input type="text" name="价格" class="num" disabled value="1" v-model.number="item.productQuentity" v-show="item.productQuentity">
                        <input type="text" name="价格" class="num" disabled value="1" v-show="!item.productQuentity">
                        <a href="javascript:" class="add" @click="add(item,1)">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </div>
                        <p class="small">有货</p>
                </td>
                <td style="color:red">￥
                    <span v-show="item.productQuentity">{{item.productQuentity*item.productPrice}}</span>
                    <span v-show="!item.productQuentity">{{item.productPrice}}</span>
                </td>
                <td>
                    <a href="javascript:" class="delete" @click="delConfirm(item)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>

        <tr>
            <td>
                <a href="javascript:" @click="selectAll()">
                    <span class="glyphicon glyphicon-ok-sign" v-bind:class="{active:checkAll}"></span>
                </a>
            </td>
            <td style="text-align: left">
                <a href="javascript:" @click="selectAll(false)" style="padding-right:15px;" v-bind:class="{active:checkAll}">全选</a>
                <a href="javascript:" @click="selectAll(true)" v-bind:class="{active:!checkAll}">取消全选</a>
            </td>
            <td colspan="4">
            <div class="totalResult" style="text-align:right">
                <span>总价:￥{{totalMoney}}元</span>
                <button type="text" class="btn btn-danger" style="width:150px;margin-left:20px;">结账</button>
            </div>
            </td>
        </tr>

        </tbody>
    </table>
<div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: block;"  v-show="affirmBox">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" @click="delConfirm2">
                    ×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    确认删除吗？
                </h4>
            </div>
            <div class="modal-body">
                删除后无法回复
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" @click="delConfirm2">关闭
                </button>
                <button type="button" class="btn btn-primary" @click="delProduct()">
                    确认删除
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal-backdrop fade in" v-show="affirmBox"></div>

</div>
<script type="text/javascript">

new Vue({
    el:"#box",
    data:{
        checkAll:false,
        totalMoney:0,
        affirmBox:false,
        curProduct:"",
        productList:[
            {
                goodsImg:'images/bannerA4.png',
                goodsName:"杯子",
                freeGoods:["打火机","打火机2"],
                productPrice:10,
                amount:5
            },
             {
                goodsImg:'images/bannerA4.png',
                goodsName:"杯子2",
                freeGoods:["打火机"],
                productPrice:2,
                amount:5
            }
        ]
    },
    methods:{
        add:function(a,b){
            if(!a.productQuentity){
                Vue.set(a,"productQuentity",1); //全局注册
            }
            if(b>0){
                a.productQuentity++;
            }
            else{
                if(a.productQuentity>1){
                    a.productQuentity--;
                }
            }
            this.calcTotalPrice();
        },
        delConfirm:function(item){
            this.affirmBox=true;
            this.curProduct=item;
        },
        delProduct:function(){
            //indexOf指定字符串值在字符串中首次出现的位置；
            var index=this.productList.indexOf(this.curProduct);
            this.productList.splice(index,1);
            this.affirmBox=false;
            this.calcTotalPrice();
        },
        delConfirm2:function(){
            this.affirmBox=false;
        },
        selectFun:function(item){
//            item.check=!item.check;
            if(!item.checked){
                // 在vue中，往item的变量里面，全局注册了一个叫做checked的变量，它的值是true,
                // 在vue中监听，不存在变量；
                 Vue.set(item,"checked",true); //全局注册
               //this.$set(item,"checked",true);  //局部注册
            }
            else{
                item.checked=!item.checked;
            }
            this.calcTotalPrice();
        },
        selectAll:function(){
            this.checkAll=!this.checkAll;
            var a="";
            if(this.checkAll){
                a=true;
            }
            else{
                a=false;
            }
            this.productList.forEach(function(item){
                Vue.set(item,"checked",a); //全局注册
            })
            this.calcTotalPrice();
        },
        calcTotalPrice:function(){
          var _this=this;
          _this.totalMoney=0;
          this.productList.forEach(function(item,index){
              if(item.checked){
                  if(!item.productQuentity){
                      item.productQuentity=1;
                  }
                  _this.totalMoney+=item.productPrice*item.productQuentity;
              }
          })
        }
    },
    computed:{
    }
})

</script>
</body>
</html>
