<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue组件</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../js/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/vue/dist/vue.js"></script>
</head>
<style>
    .meumBar{
        overflow: scroll;
        width: 100%;
    }
    .meumBar>ul{
        width:800px;
    }
    .meumBar li{
        float: left;
        line-height: 45px;
        width: 65px;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0 3px;
    }
    .meumBar li a{
        color:#999;
    }
    .articleOne{
        display: block;
        border-bottom: 1px solid #eee;
        padding:20px 0;
        background: #fff;
    }
    .articleOne:last-child{
        border: 0;
    }
    .container a{
        color:#333333;
    }
    .item img{
        width: 100%;
    }
    .active{
        color:#3793fe !important;
    }
    .container{
        position: relative;
        min-height: 50px;
    }
    .noData{
        position: absolute;
        z-index: -1;
        text-align: center;
        padding: 15px;
        display: block;
        width: 100%;
        top: 17px;
    }
</style>
<body>
<div id="box">
    <header2></header2>
    <div class="main" style="margin:63px 0px 30px">
        <div class="banner">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <!--<template v-for="(item,index) in result.banner">-->
                    <li data-target="#carousel-example-generic" v-for="(item,index) in result.banner" v-bind:data-slide-to="index"  v-bind:class="{active:index==0}"></li>
                    <!--</template>-->
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item" v-for="(item,index) in result.banner" v-bind:class="{active:index==0}">
                        <img v-bind:src=item.img  v-bind:alt=item.title>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="meumBar">
            <ul>
                <li><a href="javascript:"  v-bind:class="{active:showId==0}" @click="changeType(0)">全部</a></li>
                <li v-for="item in result.caseMeum"><a href="javascript:" @click="changeType(item.typeId)" v-bind:class="{active:showId==item.typeId}">{{item.type}}</a></li>
            </ul>
        </div>
        <div class="container">
            <a href="caseDetail.html" class="articleOne" v-for="item in result.case" v-show="showId==item.typeId" v-bind:class="{show:showId==0}">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="type">{{item.type}} | {{item.company}}</div>
                        <h4>{{item.title}}</h4>
                    </div>
                    <div class="col-xs-4" style="overflow: hidden">
                        <img v-bind:src=item.img alt="" width="130px">
                    </div>
                </div>
            </a>
            <p  class="text-center noData">暂无数据</p>
        </div>
    </div>
    <footer2> </footer2>
</div>


<script type="text" id="header">
    <header class="header">
        <div class="logo">
            <a href="index.html"><img v-bind:src="result.logo" alt="logo" width="71px;"></a>
        </div>
        <ul class="links">
            <li v-for="item in result.nav"><a v-bind:href=item.url>{{item.title}}</a></li>
        </ul>
    </header>
</script>

<script type="text2" id="footer">
    <footer class="footer">
        <p><a href="#"><img v-bind:src="result.logo" alt="" class="footerLogo"></a></p>
        <p>{{result.text1}}</p>
        <p>{{result.text2}}</p>
    </footer>
</script>

<script>
    new Vue({
        el:'#box',
        data:{
            "result":{
                "banner": [
                    {
                        "img": "images/bannerA1.png",
                        "title": "图片1"
                    },
                    {
                        "img": "images/bannerA2.png",
                        "title": "图片2"
                    },
                    {
                        "img": "images/bannerA3.png",
                        "title": "图片3"
                    }
                ],
                "caseMeum":[
                    {
                        "typeId":1,
                        "type":"教育行业"
                    },
                    {
                        "typeId":2,
                        "type":"贸易/批发/零售"
                    },
                    {
                        "typeId":3,
                        "type":"制造业"
                    },
                    {
                        "typeId":4,
                        "type":"互联网/信息技术服务"
                    },
                    {
                        "typeId":5,
                        "type":"医疗医药"
                    },
                    {
                        "typeId":6,
                        "type":"金融业"
                    },
                    {
                        "typeId":7,
                        "type":"建筑业"
                    },
                    {
                        "typeId":8,
                        "type":"服务"
                    },
                    {
                        "typeId":9,
                        "type":"商业服务"
                    }
                ],
                "case":[
                    {
                        "typeId":"1",
                        "type":"教育行业",
                        "company":"杭州市育才外国语学校",
                        "title":"实现老师和家长沟通无缝对接",
                        "img":"images/bannerA1.png"
                    },
                    {
                        "typeId":"2",
                        "type":"贸易/批发/零售",
                        "company":"上海盒马网络科技有限公司",
                        "title":"钉钉助力盒马极致生鲜",
                        "img":"images/bannerA2.png"
                    },
                    {
                        "typeId":"3",
                        "type":"制造业",
                        "company":"杭州朝阳橡胶有限公司  ",
                        "title":"杭州朝阳橡胶有限公司  ",
                        "img":"images/bannerA3.png"
                    },
                    {
                        "typeId":"4",
                        "type":"互联网/信息技术服务",
                        "company":"互联网/信息技术服务",
                        "title":"让天下没有难做的生意",
                        "img":"images/bannerA4.png"
                    },
                    {
                        "typeId":"5",
                        "type":"医疗医药",
                        "company":"新疆佳音医院（有限公司）  ",
                        "title":"移动互联网时代的掌上医院",
                        "img":"images/bannerA4.png"
                    },
                    {
                        "typeId":"6",
                        "type":"金融业",
                        "company":"中和农信  ",
                        "title":"移动办公快速解决农户燃眉之需",
                        "img":"images/bannerA4.png"
                    },
                    {
                        "typeId":"7",
                        "type":"建筑业",
                        "company":"深圳广田集团有限公司 ",
                        "title":"化繁为简的办公方式",
                        "img":"images/bannerA4.png"
                    },
                    {
                        "typeId":"8",
                        "type":"服务业",
                        "company":"内蒙古西贝餐饮连锁    ",
                        "title":"西北菜代表的移动化办公实践",
                        "img":"images/bannerA4.png"
                    },
                    {
                        "typeId":"1",
                        "type":"教育行业",
                        "company":"11杭州市育才外国语学校",
                        "title":"实现老师和家长沟通无缝对接",
                        "img":"images/bannerA1.png"
                    },
                    {
                        "typeId":"2",
                        "type":"贸易/批发/零售",
                        "company":"11上海盒马网络科技有限公司",
                        "title":"钉钉助力盒马极致生鲜",
                        "img":"images/bannerA2.png"
                    }
                ]
            },
            "showId":0
        },
        methods:{
            changeType:function(typeId){
                this.showId=typeId;
            }
        },
        components:{
            header2: {
                template: '#header',
                data() {
                    return {
                        result: {
                            "logo": "images/logo.png",
                            "nav": [
                                {
                                    "title": "首页",
                                    "url": "index.html"
                                },
                                {
                                    "title": "案例",
                                    "url": "case.html"
                                },
                                {
                                    "title": "DING峰会",
                                    "url": "dingtalk.html"
                                }
                            ]
                        }
                    }
                }
            },
            'footer2':{
                template:'#footer',
                data(){
                    return{
                        result:{
                            "logo":"images/logo2.png",
                            "text1":"通过ISO27001-2013安全认证",
                            "text2":"阿里钉钉 © 2017 浙 B2-20080224-16"
                        }
                    }
                }
            }
        }
    })
</script>

</body>
</html>