<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>钉钉首页</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="../node_modules/vue/dist/vue.js"></script>
</head>
<style>
    .slide{
        padding-top: 25px;
        position: relative;
        padding-bottom: 220px;
    }
    .s2{
        background: #f8f8f8;
    }
    .slideBanner {
        position: absolute;
        z-index: 1;
        bottom: 0px;
        width: 100%;
    }
    .slideBanner img{
        width: 30em;
    }
</style>
<body>
<div id="box">
    <header2></header2>
    <div class="main">
        <div class="slide  text-center" v-for="item in result">
            <h3>{{item.title}}</h3>
            <p>{{item.detail}}</p>
            <a href="#">查看详情 <i class="glyphicon glyphicon-chevron-right"></i></a>
            <div class="slideBanner">
                <img v-bind:src="item.banner" alt="">
            </div>
        </div>
    </div>
    <footer2>
    </footer2>
</div>

<script type="text" id="header">
    <header class="header">
        <div class="logo">
            <img v-bind:src="result.logo" alt="logo" width="71px;">
        </div>
        <ul class="links">
            <li v-for="item in result.nav"><a href="#">{{item.title}}</a></li>
        </ul>
    </header>
</script>

<script type="text2" id="footer">
    <footer class="footer">
        <p><a href="#"><img v-bind:src="result.logo" alt="" class="footerLogo"></a></p>
        <p>{{result.text1}}</p>
        <p>{{result.text2}}</p>
    </footer>
</script>

<script>
    new Vue({
        el:'#box',
        data:{
           result:{
               "rankCompany":[
                   {
                       "type": "制造业",
                       "company": ["上海细微信息咨询有限公司","江苏车置宝信息科技股份有限公司","南京南瑞继保电气有限公司","南京特易有信金融信息咨询有限公司","南京壹玖柒玖信息技术有限公司","南京领添信息技术有限公司"]
                   },
                   {
                       "type": "互联网信息/科技",
                       "company": ["2上海细微信息咨询有限公司","江苏车置宝信息科技股份有限公司","南京南瑞继保电气有限公司","南京特易有信金融信息咨询有限公司","南京壹玖柒玖信息技术有限公司","南京领添信息技术有限公司"]
                   },
                   {
                       "type": "服务业",
                       "company": ["3上海细微信息咨询有限公司","江苏车置宝信息科技股份有限公司","南京南瑞继保电气有限公司","南京特易有信金融信息咨询有限公司","南京壹玖柒玖信息技术有限公司","南京领添信息技术有限公司"]
                   }
               ],
               "updataTime":"2017年7月31日"
           }
       },
        components:{
            'header2':{
              template:'#header',
                data(){
                  return{
                      result:{
                          "logo": "../images/logo.png",
                          "nav":[
                              {
                                  "title":"案例",
                                  "url":"anlie.html"
                              },
                              {
                                  "title":"帮助",
                                  "url":"help.html"
                              },
                              {
                                  "title":"DING峰会",
                                  "url":"dingtalk.html"
                              },
                              {
                                  "title":"注册",
                                  "url":"register.html"
                              }
                          ]
                      }
                  }
                }
            },
            'footer2':{
                template:'#footer',
                data(){
                    return{
                        result:{
                            "logo":"../images/logo2.png",
                            "text1":"通过ISO27001-2013安全认证",
                            "text2":"阿里钉钉 © 2017 浙 B2-20080224-16"
                        }
                    }
                }
            }
        }
    })
</script>


</body>
</html>