.header{
    font-size: 0.18rem;
    color:#fff;
    background: #3190e8;
}
.header a{
    color:#fff;
}
.bannerOne {
    overflow: hidden;
    float: left;
}
.banner{
    background: #fff;
    width: 100%;
    overflow: hidden;
}
.banner a{
    width: 25%;
    float: left;
    padding: 0.06rem 0;
}
.banner a img{
    width: 0.36rem;
    height: 0.36rem;
    margin-bottom: 0.06rem;
}
.banner figure{
    text-align: center;
}
.banner figcaption{
    font-size: 13px;
    color:#333;
}
.swiper-pagination{
    display: block;
    text-align: center;
    width: 100%;
    height: 20px;
}
.swiper-bot{
    width: 7px;
    height: 7px;
    background: #cccccc;
    border-radius: 50%;
    display: inline-block;
    margin: 0 3px;
}
.swiper-active{
    background: #007aff;
}
.swiper-wrapper {
    width: 892px;
    overflow: hidden;
}
.container{
    padding:0 10px;
    background: #fff;
}
.title{
    padding:10px 0;
}
.items{
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #f1f1f1;
}
.item{
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    padding: 12px 0;
}
.item-left{
    padding-right: 0.08rem;
}
.item-right{
    flex:1;
}
.item-right-1{
    display: flex;
    margin-bottom: 0.08rem;
}
.item-right-1-right{

}
.supports{
    float: left;
    font-size: 0.09rem;
    color:#999;
    border: 1px solid #f1f1f1;
    margin-right: 0.05rem;
}
.item-right-2{
    font-size: 0.09rem;
    margin-bottom: 0.08rem;
}
.item-right-3{
    font-size: 0.09rem;
    margin-bottom: 0.08rem;
}
.img-shop{
    width: 54px;
    height: 54px;
    margin-right: 0.05rem;
    border: 1px solid red;
    display: inline-block;
}
.starBox {
    display: inline-block;
    width: 0.7rem;
    height: 0.13rem;
    position: relative;
}
span.starBox1 {
    position: absolute;
    word-spacing: -0.03rem;
}
.fa-star{
    font-size: 0.1rem;
    padding: 0;
    margin: 0;
}