<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <title>ele城市选择</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/city.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="js/rem.js"></script>
    <script src="node_modules/vue-router/dist/vue-router.js"></script>
</head>
<body>
<div id="box">
    <header class="header">
        <a href="search.html" class="header-left"><i aria-hidden="true" class="fa fa-chevron-left"></i></a>
        <div class="header-center" v-cloak>{{city.name}}</div>
        <a href="index.html" class="header-right fr">切换城市</a>
    </header>
    <div class="top">
        <div class="searchBox mb10">
            <input type="search" placeholder="输入学校、商务楼、地址"  v-model="keyword" @keyup.enter="search()"  @key.up="searchUp()" @key.down="searchDown()">
        </div>
        <div class="buttonBox">
            <button type="button"  class="btn btn-primary btn-block" @click="search()">提交</button>
        </div>
    </div>
    <div class="content" v-cloak>
        <p class="history" v-show="!searchContent">搜索历史</p>
        <div class="content-search" v-show="searchContent">
            <a href="javascript:" v-for="item in searchContent" @click="home(item)">
                <h3 class="address-title">{{item.name}}</h3>
                <p class="color-grey fz10">{{item.address}}</p>
            </a>
        </div>
        <ul class="content-search" v-show="!searchContent">
            <li v-for="item in searchHistory" @click="home(this)">
                <a href="home.html">
                    <h3 class="address-title" >{{item.name}}</h3>
                    <p class="color-grey fz10">{{item.address}}</p>
                </a>
            </li>
        </ul>
        <div class="clearBox" v-show="searchHistory && !searchContent" @click="empty()">
            清空所有
        </div>
    </div>
</div>

</body>
</html>

<script>
//    if(localStorage.getItem(searchHistory)){
//        VM.searchHistory=localStorage.getItem(searchHistory);
//    }
//    else{
//        VM.searchHistory="";
//    }
//


    var VM=new Vue({
        el:"#box",
        data:{
            keyword:"",
            searchContent:"",
            searchHistory:"",
            city2:""
        },
        methods:{
            search:function(){
                var _this=this;
                if(_this.keyword){
                    $.post("json/city-search.json",{"keyword":_this.keyword},function(result){
                        _this.searchContent=result;
                    });
                }
            },
            empty:function(){
                this.searchHistory="";
                localStorage.clear();
            },
            home:function(obj){

            }
        },
        computed:{
            city:function(){
                var _this=this;
                var url = location.href;
                var sc = url.split("type=")[1].split("|");
                sc[0] = sc[0].split("")[0].toUpperCase();
                if(sc.length==3){
                    $.post("json/city-hot.json",{},function(result) {
                        _this.city2 = result[sc[1]];
                    })
                }
                else{
                    $.post("json/city-group.json",{},function(result) {
                        _this.city2 = result[sc[0]][sc[1]];
                    })
                }
                return _this.city2;
            }
        }
    })

</script>