<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <title>ele城市选择</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-router/dist/vue-router.js"></script>
    <link href="node_modules/c-swipe/dist/swipe.css" rel="stylesheet"></head>
    <script type="text/javascript" src="node_modules/c-swipe/dist/swipe.js"></script>
    <script src="js/rem.js"></script>
</head>
<body>
<div id="box">
    <div class="img-loading" v-show="imgLoading" :style="{backgroundPositionY:positionY}"></div>
    <header class="header">
        <a href="search.html" class="header-left"><i aria-hidden="true" class="fa fa-search"></i></a>
        <a href="index.html" class="header-center ellipsis" style="width: 180px;">南山科技园金融基地大厦</a>
        <a href="profile.html" class="header-right fr" v-if="!login"><i aria-hidden="true" class="fa fa-user-o"></i></a>
        <a href="login.html" class="header-right fr fz14" v-if="login">登录/注册</a>
    </header>
    <div class="goTop fz50 grey fix op8" style="right:30px;bottom:70px;" @click="goTop()" v-show="toTopIcon">
        <i  class="fa fa-arrow-circle-o-up"></i>
    </div>
    <div class="banner bdb1" v-cloak>
        <div class="swiper-wrapper">
            <div class="bannerOne" v-for="(item,index) in filteredItems">
                <a href="javascript:"  v-for="(item2,index2) in item">
                    <figure>
                        <img :src='"https://fuss10.elemecdn.com/"+item2.image_url' alt="">
                        <figcaption>{{item2.title}}</figcaption>
                    </figure>
                </a>
            </div>
        </div>
        <div class="swiper-pagination">
            <span class="swiper-bot"></span>
            <span class="swiper-bot swiper-active"></span>
        </div>
    </div>
    <div class="container">
        <h5 class="title">
            <i class="fa fa-university"></i>
            附近商家
        </h5>
        <div class="items" v-cloak>
            <div class="item" v-for="item in restaurants">
                <div class="item-left">
                    <img :src='"http://images.cangdu.org/"+item.image_path' alt="" class="img-shop">
                </div>
                <div class="item-right">
                    <h4 class="item-right-1">
                        <span class="seller-tab">品牌</span> <span>{{item.name}}</span>
                        <div class="item-right-1-right fr">
                            <ul>
                                <li class="supports" v-for="item2 in item.supports">{{item2.icon_name}}</li>
                            </ul>
                        </div>
                    </h4>
                    <div class="item-right-2">
                        <div class="starBox">
                            <span class="grey">
                                <i class="fa fa-star" v-for="n in 5"></i>
                            </span>
                            <span style="color:#ff9a0d;">
                                <i class="fa fa-star" v-for="n in starFun(item,0)"></i>
                                <i class="fa fa-star-half" v-for="m in starFun(item,1)"></i>
                            </span>
                        </div>
                        <span class="orange">{{item.rating}}</span>
                        <span>月售612单</span>
                        <div class="fr">
                            <span class="tag-1 scale08">蜂鸟专送</span>
                            <span class="tag-1 scale08">准时达</span>
                        </div>
                    </div>
                    <div class="item-right-3">
                        <span class="scale09">￥{{item.float_minimum_order_amount}}起送/ {{item.piecewise_agent_fee.tips}}</span>
                        <div class="item-right-3-right fr scale09">
                            <span class="grey">{{item.distance}}公里/</span>  <span class="color-active">{{item.order_lead_time}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div >
        <p class="fz14 grey p15 tac" v-show="loading">
            <i class="fa fa-question-circle"></i>  <span>加载更多</span>
        </p>
    </div>
    <footer class="footer-menu df tac">
        <a href="home.html" class="fx1">
            <i class="fa fa-shopping-basket c-active"></i>
            <span>外卖</span>
        </a>

        <a href="search.html" class="fx1">
            <i class="fa fa-search"></i>
            <span>搜索</span>
        </a>

        <a href="order.html" class="fx1">
            <i class="fa fa-reorder "></i>
            <span>订单</span>
        </a>

        <a href="profile.html" class="fx1">
            <i class="fa fa-user-o"></i>
            <span>我的</span>
        </a>
    </footer>
</div>
</body>
</html>

<script>
        new Vue({
            el:"#box",
            data:{
                dataBanner:"",
                filteredItems:"",
                restaurants:"",
                imgLoading:true,
                positionY:0,
                toTopIcon:false,
                rating:[],
                loading:true
            },
            methods:{
                goTop:function () {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                },
                starFun:function(item,index){
                    var num=item.rating+"";
                    var a;
                    if(index==0){
                        if(num.indexOf(".")<0){
                            a=num;
                        }
                        else{
                            a=num.split(".")[0];
                        }
                    }
                    else{
                        if(num.indexOf(".")<0 ||  num.split(".")[1]<5 ){
                            a=0;
                        }
                        else{
                            a=1;
                        }
                    }
                    return a*1;
                }
            },
            computed:{
                login:function(){
                    var userId=localStorage.getItem("userId");
                    if(userId!="" && userId!=undefined){
                        return true;
                    }
                    else{
                        return false;
                    }
                }
            },
            created:function(){
                var _this=this;
                $.post("json/group-type.json",{},function(result){
                    _this.loading=true;
                    _this.dataBanner=result;
                    var arr=[];
                    var len=Math.ceil(_this.dataBanner.length/4);
                    for(var i=0;i<len;i++){
                        arr.push(_this.dataBanner.slice(4*i, 4*(i+1)));
                    }
                    _this.filteredItems=arr;
                    _this.loading=false;
                })
                $.post("json/restaurants.json",{},function(result){
                    _this.restaurants=result;
                })

                window.onscroll = function() {
                    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                        _this.toTopIcon=true;
                    } else {
                        _this.toTopIcon=false;
                    }
                };
            },
            beforeCreate:function(){
                var _this=this;
                var i=0;
                var timer=setInterval(function(){
                    if(i>5){
                        i--;
                    }
                    else{
                        i++;
                    }
                    _this.positionY=-70*i+"px";
                },1000);
                setTimeout(function(){
                    _this.imgLoading=false;
                },3000);
            }
        })
</script>