<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <title>ele城市选择</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/home.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-router/dist/vue-router.js"></script>
    <link href="node_modules/c-swipe/dist/swipe.css" rel="stylesheet"></head>
    <script type="text/javascript" src="node_modules/c-swipe/dist/swipe.js"></script>
    <script src="js/rem.js"></script>
</head>
<body>
<div id="box">
    <div class="img-loading" v-show="imgLoading" v-bind:style="{backgroundPositionY:positionY}"></div>
    <header class="header">
        <a href="search.html" class="header-left"><i aria-hidden="true" class="fa fa-search"></i></a>
        <div class="header-center">福田区车公庙地铁站</div>
        <a href="profile.html" class="header-right fr"><i aria-hidden="true" class="fa fa-user-o"></i></a>
    </header>
    <div class="banner bdb1" v-cloak>
        <div class="swiper-wrapper">
            <div class="bannerOne" v-for="(item,index) in filteredItems">
                <a href="javascript:"  v-for="(item2,index2) in item">
                    <figure>
                        <img v-bind:src='"https://fuss10.elemecdn.com/"+item2.image_url' alt="">
                        <figcaption>{{item2.title}}</figcaption>
                    </figure>
                </a>
            </div>
        </div>
        <div class="swiper-pagination">
            <span class="swiper-bot"></span>
            <span class="swiper-bot swiper-active"></span>
        </div>
    </div>
    <div class="container">
        <h5 class="title">
            <i class="fa fa-university"></i>
            附近商家
        </h5>
        <div class="items" v-cloak>
            <div class="item" v-for="item in restaurants">
                <div class="item-left">
                    <img v-bind:src='"http://images.cangdu.org/"+item.image_path' alt="" class="img-shop">
                </div>
                <div class="item-right">
                    <h4 class="item-right-1">
                        <span class="seller-tab">品牌</span> <span>{{item.name}}</span>
                        <div class="item-right-1-right fr">
                            <ul>
                                <li class="supports" v-for="item2 in item.supports">{{item2.icon_name}}</li>
                            </ul>
                        </div>
                    </h4>
                    <div class="item-right-2">
                        <div class="starBox">
                              <span class="starBox1 color-grey">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                            <span class="starBox1" style="color:#ff9a0d;">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half"></i>
                            </span>
                        </div>
                        <span class="color-orange">{{item.rating}}</span>
                        <span>月售612单</span>
                        <div class="fr">
                            <span class="tag-1 bg-color-active scale08">蜂鸟专送</span>
                            <span class="tag-1 scale08">准时达</span>
                        </div>
                    </div>
                    <div class="item-right-3">
                        <span class="scale09">￥{{item.float_minimum_order_amount}}起送/ {{item.piecewise_agent_fee.tips}}</span>
                        <div class="item-right-3-right fr scale09">
                            <span class="color-grey">{{item.distance}}公里/</span>  <span class="color-active">{{item.order_lead_time}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div >
    </div>
    <footer class="footer-menu df">
        <a href="home.html" class="tc fx1">
            <i class="fa fa-shopping-basket c-active"></i>
            <span>外卖</span>
        </a>

        <a href="search.html" class="tc fx1">
            <i class="fa fa-search"></i>
            <span>搜索</span>
        </a>

        <a href="order.html" class="tc fx1">
            <i class="fa fa-reorder "></i>
            <span>订单</span>
        </a>

        <a href="profile.html" class="tc fx1">
            <i class="fa fa-user-o"></i>
            <span>我的</span>
        </a>
    </footer>
</div>
</body>
</html>

<script>
        new Vue({
            el:"#box",
            data:{
                dataBanner:"",
                filteredItems:"",
                restaurants:"",
                imgLoading:true,
                positionY:0
            },
            methods:{
            },
            computed:{
            },
            created:function(){
                var _this=this;
                $.post("json/group-type.json",{},function(result){
                    _this.dataBanner=result;
                    var arr=[];
                    var len=Math.ceil(_this.dataBanner.length/8);
                    for(var i=0;i<len;i++){
                        arr.push(_this.dataBanner.slice(8*i, 8*(i+1)));
                    }
                    _this.filteredItems=arr;
                })
                $.post("json/restaurants.json",{},function(result){
                    _this.restaurants=result;
                })
            },
            beforeCreate:function(){
                var _this=this;
                var i=0;
                var timer=setInterval(function(){
                    if(i>5){
                        i--;
                    }
                    else{
                        i++;
                    }
                    _this.positionY=-70*i+"px";
                },1000);
                setTimeout(function(){
                    _this.imgLoading=false;
                },3000);
            }
        })
</script>