<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <title>搜索页面-eleme</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/search.css">
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="node_modules/vue-router/dist/vue-router.js"></script>
    <script src="js/rem.js"></script>
</head>
<body>
<div id="box">
    <header class="header">
        <a href="javascript:history.back()" class="header-left"><i aria-hidden="true" class="fa fa-chevron-left"></i></a>
        <div class="header-center">搜索</div>
    </header>
    <div class="main mt40">
        <div class="top">
            <form  class="searhBox df" method="post" onsubmit="return false">
                <input type="search" class="fx1 mr5" placeholder="请输入商家或美食名称" v-model="keyword" :class="{'bd-active':keyword==''}" autocomplete="on" required @keyup="search(keyword)">
                <button class="btn btn-primary" @click="search(keyword)">提交</button>
            </form>
        </div>
        <div class="content" v-cloak>
            <div class="content-box1" v-show="!searchLists">
                <h4 class="title" v-show="searchHistory.length!=0">搜索历史</h4>
                <div class="bg-white">
                    <ul>
                        <li class="df bdb1 p10" v-for="(item,index) in searchHistory">
                            <a href="javascript:"  @click="search(item)" class="fx1">{{item}}</a>
                            <a href="javascript:"  @click="remove(index)"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                </div>
                <a  href="javascript:" class="empty-box color-active text-center db" v-show="searchHistory.length!=0" @click="empty()">
                    清空搜索历史
                </a>
                <div class="empty-box color-active text-center db" v-show="keywordTips">
                    很抱歉！无搜索结果
                </div>
            </div>

            <div class="bg-white" v-show="searchLists">
                <ul>
                    <li class="df bdb1 p10" v-for="(item,index) in searchLists">
                        <a href="home.html" class="fx1">{{item.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <foot-guide></foot-guide>
</div>
</body>

<template id="foot">
    <footer class="footer-menu df tac">
        <a href="home.html" class="fx1">
            <i class="fa fa-shopping-basket" :class="{'c-active':url.indexOf('home')>0 ? true:false}"></i>
            <span>外卖</span>
        </a>
        <a href="search.html" class="fx1">
            <i class="fa fa-search" :class="{'c-active':url.indexOf('search')>0 ? true:false}"></i>
            <span>搜索</span>
        </a>
        <a href="order.html" class="fx1">
            <i class="fa fa-reorder " :class="{'c-active':url.indexOf('order')>0 ? true:false}"></i>
            <span>订单</span>
        </a>
        <a href="profile.html" class="fx1">
            <i class="fa fa-user-o" :class="{'c-active':url.indexOf('profile')>0 ? true:false}"></i>
            <span>我的</span>
        </a>
    </footer>
</template>


<script>
    new Vue({
        el:"#box",
        data:{
            keyword:"",
            searchHistory:[],
            searchLists:"",
            keywordTips:false
        },
        methods:{
            empty:function(){
                this.searchHistory=[];
                localStorage.clear();
            },
            remove:function(index){
                this.searchHistory.splice(index,1);
                localStorage.setItem("history",JSON.stringify(this.searchHistory));
            },
            search:function(kw){
                this.keyword=kw;
                if(kw){
                    //本地存储
                    var len= this.searchHistory.length;
                    if(len>4){
                        this.searchHistory.pop();
                    }
                    this.searchHistory.unshift(kw);
                    localStorage.setItem("history",JSON.stringify(this.searchHistory));
                    this.get();
                    if(this.searchLists!=""){
                        this.keywordTips=true;
                    }
                    else{
                        this.keywordTips=false;
                    }
                }
            },
            get:function(){
                //https://www.ele.me/restapi/v2/pois?extras%5B%5D=count&geohash=ws105rz9smwm&keyword=a&limit=20&type=nearby
                this.$http.get("https://www.ele.me/restapi/v2/pois",{
                    keyword:this.keyword,   //关键字
                    geohash:"ws105rz9smwm",   //城市,
                    limit:10,  //限制条数
                    type:"nearby" //附近
                }).then(function(res){
                    this.searchLists=res.data;
                },function(res){
                    console.log(res.status);
                });
            }
        },
        created:function(){
            var history=JSON.parse(localStorage.getItem("history"));
            if(history){
                this.searchHistory=history;
            }
        },
        components:{
            footGuide:{
                data:function(){
                    return{
                        url:location.href
                    }
                },
                template:'#foot'
            }
        }
    })
</script>

</html>