.ratings{}
.ratings-content{
    padding:20px 15px;
    overflow: hidden;
}
.ratings-content-left{
    float: left;
    width: 110px;
    border-right: 1px solid #e6e7e8;
    text-align: center;
    margin-right: 10px;
}
.graded{
    font-size: 30px;
    padding-bottom: 16px;
}
.ratings-content-right{
    float: left;
}
.ratings-content-right-1{
    padding-bottom: 10px;
}
.ratings-star{
    color:#d4d6d9;
    display: inline-block;
    font-size: 15px;
}
.rating-star .icon-star-full{
    font-size: 16px;
}
.icon-star-full{
    color:#d4d6d9;
}
.color-yellow{
    color:#ff9900;
}
.color-gray{
    color: #93999f;
}

.split{
    background: #f3f5f7;
    border-top:solid 1px #dadee1;
    height:12px;
}
.ratings-select{
    padding: 20px;
    border-bottom: 1px solid #dadee1;
}
.btn-select{
    width: 60px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    line-height: 30px;
    background: #ccecf8;
}
.bg-blue{
    background: #00a0dc !important;
    color:#fff;
}
.bg-lightBlue{
    background: #ccecf8;
    color:#4d555d;
}
.bg-darkblue{
    background: #4d555d !important;
    color:#fff !important;
}
.bg-gray{
    background: #dbdddf;
    color:#4d555d;
}
.ratings-wrapper{}
.ratings-wrapper-title{
    padding: 15px;
    border-bottom: 1px solid #e5e7e8;
}
.icon-check_circle{
    color: #00c850;
    font-size: 28px;
    vertical-align: middle;
}
.ratings-items{}
.ratings-item{
    padding: 15px 0;
    margin:0 15px;
    position: relative;
}
.ratings-item-left{
    position: absolute;
}
.user-avatar{
    width: 25px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}
.ratings-item-right{
    margin-left: 40px;
}
.ratings-content-right-1{

}
.releaseTime{
    text-align: right;
    position: absolute;
    right: 0;
}
.item-star-box{
    display: inline-block;
    margin-right: 20px;
}
.tag{
    border: 1px solid #e5e7e8;
    padding: 2px;
    padding-right: 8px;
    margin-bottom: 5px;
    display: inline-block;
}
.icon-thumb_up{
    color: #00a0dc;
}
.ratings-item-right-3{
    margin-bottom: 5px;
}
